# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html
vcversioner
sphinx
sphinxcontrib-httpdomain
sphinxcontrib-images
sphinxcontrib-programoutput
sphinx-tabs
recommonmark
sphinx_rtd_theme
sphinx-click
