# Add here internal Software Heritage dependencies, one per line.
# Dependencies need to be ordered in a way that ensure only
# development versions will be used (not the release ones hosted on PyPI).
../swh-core[http,db,logging]
../swh-model
../swh-journal
../swh-objstorage[testing]
../swh-storage[schemata]
../swh-scheduler
../swh-deposit
../swh-graph
../swh-icinga-plugins
../swh-indexer
../swh-lister
../swh-loader-core
../swh-loader-git
../swh-loader-mercurial
../swh-loader-svn
../swh-search
../swh-vault
../swh-web
../swh-web-client
../swh-scanner
