# Add here internal Software Heritage dependencies, one per line.
-e ../swh-core[http,db]
-e ../swh-model
-e ../swh-objstorage[testing]
-e ../swh-scheduler
-e ../swh-storage[schemata,listener]
-e ../swh-loader-core
-e ../swh-lister
-e ../swh-journal
-e ../swh-vault
-e ../swh-loader-dir
-e ../swh-loader-tar
-e ../swh-loader-pypi
-e ../swh-loader-debian
-e ../swh-loader-mercurial
-e ../swh-loader-svn
-e ../swh-loader-git
-e ../swh-archiver
-e ../swh-indexer
-e ../swh-web
-e ../swh-deposit
-e ../swh-mirror-forge
