# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html
sphinx < 4.4.0  # version 4.4.0 adds this kind of warning: "WARNING: hardcoded link 'https://archive.softwareheritage.org/api/1/vault/directory/doc/' could be replaced by an extlink (try using ':swh_web_api:`vault/directory/doc/`' instead)", which breaks the CI since we fail on warnings
sphinxcontrib-httpdomain >= 1.8.0
sphinxcontrib-images
sphinxcontrib-programoutput
sphinx-tabs
sphinx-reredirects
sphinx_rtd_theme
sphinx-click
myst-parser
sphinx-celery
