# Add here internal Software Heritage dependencies, one per line.
swh.auth[django]
swh.core[db,http,logging]
swh.counters
swh.deposit[server]
swh.fuse
swh.graph
swh.indexer
swh.journal
swh.lister
swh.loader.core
swh.loader.git
swh.loader.mercurial
swh.loader.svn
swh.model
swh.objstorage[testing]
swh.objstorage.replayer
swh.scanner
swh.scheduler[simulator]
swh.search
swh.storage
swh.vault
swh.web
swh.web.client
