# Add here internal Software Heritage dependencies, one per line.
-e ../swh-core[http,db]
-e ../swh-deposit
-e ../swh-graph
-e ../swh-indexer
-e ../swh-journal
-e ../swh-lister
-e ../swh-loader-core
-e ../swh-loader-git
-e ../swh-loader-mercurial
-e ../swh-loader-svn
-e ../swh-mirror-forge
-e ../swh-model
-e ../swh-objstorage[testing]
-e ../swh-scheduler
-e ../swh-storage[schemata,listener]
-e ../swh-vault
-e ../swh-web
