@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,500,500italic,700,700italic,100,300,100italic,300italic);

a {
    border-bottom-style: none;
    outline: none;
    text-decoration: none;
}

.swh-top-bar {
    direction: ltr;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background-color: #262626;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.swh-top-bar ul {
    margin: 0;
    margin-top: 6px;
    white-space: nowrap;
}

.swh-top-bar li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.swh-top-bar a,
.swh-top-bar a:visited {
    color: white;
}

.swh-top-bar a.swh-current-site,
.swh-top-bar a.swh-current-site:visited {
    color: #fecd1b;
}

.swh-donate-item {
    position: absolute;
    right: 0;
}

.swh-donate-link {
    border: 1px solid #fecd1b;
    background-color: #e20026;
    color: white !important;
    border-radius: 3px;
    margin-top: -2px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}
