a {
    border-bottom-style: none;
    outline: none;
    text-decoration: none;
}

.swh-top-bar {
    direction: ltr;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background-color: #262626;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.swh-top-bar ul {
    margin: 0;
    margin-top: 6px;
    white-space: nowrap;
}

.swh-top-bar li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.swh-top-bar a,
.swh-top-bar a:visited {
    color: white;
}

.swh-top-bar a.swh-current-site,
.swh-top-bar a.swh-current-site:visited {
    color: #fecd1b;
}

.swh-donate-item {
    position: absolute;
    right: 0;
}

.swh-donate-link {
    border: 1px solid #fecd1b;
    background-color: #e20026;
    color: white !important;
    border-radius: 3px;
    margin-top: -2px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

/* Prevent overlaps with top bar and anchors */
:target::before {
    content: "";
    display: block;
    height: 30px;
    margin: -30px 0 0;
}

/* Alegreya font setup */

/* alegreya-400normal - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Regular '),
    local('Alegreya-Regular'),
    url(fonts/alegreya-latin-400.woff2) format('woff2'),
    url(fonts/alegreya-latin-400.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-400italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Regular italic'),
    local('Alegreya-Regularitalic'),
    url(fonts/alegreya-latin-400italic.woff2) format('woff2'),
    url(fonts/alegreya-latin-400italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-500normal - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Medium '),
    local('Alegreya-Medium'),
    url(fonts/alegreya-latin-500.woff2) format('woff2'),
    url(fonts/alegreya-latin-500.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-500italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Medium italic'),
    local('Alegreya-Mediumitalic'),
    url(fonts/alegreya-latin-500italic.woff2) format('woff2'),
    url(fonts/alegreya-latin-500italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-700normal - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Bold '),
    local('Alegreya-Bold'),
    url(fonts/alegreya-latin-700.woff2) format('woff2'),
    url(fonts/alegreya-latin-700.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-700italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Bold italic'),
    local('Alegreya-Bolditalic'),
    url(fonts/alegreya-latin-700italic.woff2) format('woff2'),
    url(fonts/alegreya-latin-700italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-800normal - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya ExtraBold '),
    local('Alegreya-ExtraBold'),
    url(fonts/alegreya-latin-800.woff2) format('woff2'),
    url(fonts/alegreya-latin-800.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-800italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya ExtraBold italic'),
    local('Alegreya-ExtraBolditalic'),
    url(fonts/alegreya-latin-800italic.woff2) format('woff2'),
    url(fonts/alegreya-latin-800italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-900normal - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Black '),
    local('Alegreya-Black'),
    url(fonts/alegreya-latin-900.woff2) format('woff2'),
    url(fonts/alegreya-latin-900.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-900italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Black italic'),
    local('Alegreya-Blackitalic'),
    url(fonts/alegreya-latin-900italic.woff2) format('woff2'),
    url(fonts/alegreya-latin-900italic.woff) format('woff'); /* Modern Browsers */
}


/* alegreya-sans-100normal - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Alegreya Sans Thin '),
    local('Alegreya Sans-Thin'),
    url(fonts/alegreya-sans-latin-100.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-100.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-100italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Alegreya Sans Thin italic'),
    local('Alegreya Sans-Thinitalic'),
    url(fonts/alegreya-sans-latin-100italic.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-100italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-300normal - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Alegreya Sans Light '),
    local('Alegreya Sans-Light'),
    url(fonts/alegreya-sans-latin-300.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-300.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-300italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Alegreya Sans Light italic'),
    local('Alegreya Sans-Lightitalic'),
    url(fonts/alegreya-sans-latin-300italic.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-300italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-400normal - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Sans Regular '),
    local('Alegreya Sans-Regular'),
    url(fonts/alegreya-sans-latin-400.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-400.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-400italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Sans Regular italic'),
    local('Alegreya Sans-Regularitalic'),
    url(fonts/alegreya-sans-latin-400italic.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-400italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-500normal - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Sans Medium '),
    local('Alegreya Sans-Medium'),
    url(fonts/alegreya-sans-latin-500.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-500.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-500italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Sans Medium italic'),
    local('Alegreya Sans-Mediumitalic'),
    url(fonts/alegreya-sans-latin-500italic.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-500italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-700normal - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans Bold '),
    local('Alegreya Sans-Bold'),
    url(fonts/alegreya-sans-latin-700.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-700.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-700italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans Bold italic'),
    local('Alegreya Sans-Bolditalic'),
    url(fonts/alegreya-sans-latin-700italic.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-700italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-800normal - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya Sans ExtraBold '),
    local('Alegreya Sans-ExtraBold'),
    url(fonts/alegreya-sans-latin-800.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-800.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-800italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya Sans ExtraBold italic'),
    local('Alegreya Sans-ExtraBolditalic'),
    url(fonts/alegreya-sans-latin-800italic.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-800italic.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-900normal - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Sans Black '),
    local('Alegreya Sans-Black'),
    url(fonts/alegreya-sans-latin-900.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-900.woff) format('woff'); /* Modern Browsers */
}

/* alegreya-sans-900italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Sans Black italic'),
    local('Alegreya Sans-Blackitalic'),
    url(fonts/alegreya-sans-latin-900italic.woff2) format('woff2'),
    url(fonts/alegreya-sans-latin-900italic.woff) format('woff'); /* Modern Browsers */
}

table.swh-logos-table td,
table.swh-logos-table th {
  text-align: center;
}

table.swh-logos-table img {
  margin-bottom: 5px;
}

table.swh-logos-table ul {
  text-align: left;
  margin-bottom: auto;
}
